.reviews-container {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    background-color: #1FE1E9;
    @media screen and (max-width: 600px) {
        flex-flow: column;
    }
    .reviews-speakers {
        display: flex;
        flex-flow: column;
        justify-content: center;
        flex: 1;
        @media screen and (max-width: 600px) {
            position: absolute;
        }
        .reviews-speakers-img{
            position: relative;
            width: 600px;
        }
        .rsil {
            bottom: -250px;
            // left: -80px;
        }
        .rsir {
            right: -75px;
        }
    }
    .reviews-text {
        flex: 2;
        z-index: 3;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 50px;
        .reviews-h {
            letter-spacing: 6px;
            font-size: 4em;
            text-transform: uppercase;
            color: white;
            padding-left: 40px;
        }
        .reviews-boxes {
            display: flex;
            .reviews-box {
                width: 300px;
                padding: 40px;
                .reviews-rating {
                    width: 200px;
                }
                .reviews-artist {
                    text-transform: uppercase;
                    color: white;
                    font-size: 2em;
                    letter-spacing: 3px;
                }
                .reviews-testimonials {
                    font-size: 2em;
                    letter-spacing: 3px;
                    font-weight: 500;
                }
            }
        }
    }
}

.review-nav-svg, .review-nav-title {
    color: white;
    path {
        fill: white ;
        // filter: invert(100%);
    }
    // mix-blend-mode: difference;
}

.review-nav-li {
 color: white;
}

.review-nav-li {
    &:hover {
        color: #1FE1E9;
    }
}

.review-nav-bg {
    background: black !important;
}

.five-stars {
    width: 200px;
    // height: 40px;
}