nav {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 0;
    z-index: 5;
    transition: all 1s;
}

.nav-title {
    position: absolute;
    letter-spacing: 2px;
    left: 100px;
    top:4px;
    z-index: 5;
    font-weight: 300;
}

.listItems {
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: #a1a1a1;
}

.menubutton {
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    transition: all .5s;
    transition-delay: 1s;
}

.blacksvg {
    fill: black !important;
}

ul.ulhead,
li.lihead {
    margin: 0;
    padding: 0;
}

ul.ulhead {
    padding: 25px 35px;
    position: absolute;
    top: 60px;
    width: 200px;
}

div.lihead {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    // border-bottom: 1px solid white;
  }