.btn2 {
    display: inline-block;
    color: black;
    padding: 15px 25px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 25px;
    user-select: none;
    letter-spacing: 2px;
    // position: relative;
    overflow: hidden;
    // margin: 50px;
    span {
        position: relative;
        pointer-events: none;  
    }

    &:hover {
        cursor: pointer;
    }
}

.btn2-effect {
    position: absolute;
    width: 0;
    height: 0;
    left: var(--x);
    top: var(--y);
    transition: box-shadow .1s;

    box-shadow: 0 0 0 0 hsla(229, 100%, 64%, 1);
}

.btn2-effect-working {
    box-shadow: 0 0 1.25em 1.25em hsla(229, 100%, 64%, .75),
                0 0 2em 2em hsla(229, 100%, 59%, 0.5);
}